
@{
    ViewBag.Title = "Professores";
}

<h2>Portal do Professor</h2>

<ul>
    <li>@Html.ActionLink("Lista de Questões", "Index", "Exercicios")</li>
    <li>@Html.ActionLink("Listas para Corrigir", "ListasACorrigir", "ListaExercicios")</li>
    <li>@Html.ActionLink("Lista de Turmas", "Index", "Turmas")</li>
    <li>@Html.ActionLink("Listas de Exercicios", "Index", "ListaExercicios")</li>
</ul>
