
@{
    ViewBag.Title = "Professores";
}

<h2>Portal do Professor</h2>

<ul>
    <li>@Html.ActionLink("Cadastrar Questões", "Index", "Exercicios")</li>
    <li>@Html.ActionLink("Listas para Corrigir", "ListasACorrigir", "ListaExercicios")</li>
</ul>
