@model WebAppSASAcademico.Models.Alunos


@{
    ViewBag.Title = "Index";
}


<h2>Aluno Busca</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Exercicio</h4>
        <hr />

        <div class="row">
            <div class="col-xs-6">
                <label for="cpf">Digitite CPF do Aluno</label>
                <input type="number" name="cpf" />
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-6">
                <input type="submit" value="Consultar" class="btn btn-default" />
            </div>
        </div>
    </div>

    <div>
        @Html.ActionLink("Buscar Aluno","Details", new { id = 57550003360 })
    </div>


}

